.shop_part{
    display: flex;
    padding-top: 30px;
}
.product_part{
    width: 80%;
    padding: 40px 0 ;
    /* border: 2px solid red; */
   
}
.product_container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.order_part{
    width: 20%;
    background: #f1d1d1;
    padding: 20px 0;
    position: sticky;
    /* border: 2px solid yellow; */
}