.shop_part{
    display: flex;
    padding-top: 30px;
}
.product_part{
    width: 80%;
    padding: 40px 0 ;
    /* border: 2px solid red; */
   
}
.product_container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.order_part{
    width: 20%;
    background: #f1d1d1;
    padding: 20px 0;
    
    /* border: 2px solid yellow; */
}
.order_part .btn{
   margin: 10px 0;
   width: 70%;
}
@media(min-width:1200px) and (max-width:1400px) {

}

@media(min-width:992px) and (max-width:1199.98px) {


}

@media(min-width:766px) and (max-width:991.98px) {
    .product_container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .product_part{
        width: 70%;
        padding: 40px 0 ;
        /* border: 2px solid red; */
       
    }
    .order_part{
        width: 25%;
        background: #f1d1d1;
        padding: 35px 0;
        margin-left: 10px;
        
        /* border: 2px solid yellow; */
    }
    

}


@media(min-width:576px) and (max-width:765.98px) {
    .product_container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .product_part{
        width: 70%;
        padding: 40px 0 ;
        /* border: 2px solid red; */
       
    }
    .order_part{
        width: 25%;
        background: #f1d1d1;
        margin-left: 10px;
        padding: 20px 0;
        
        /* border: 2px solid yellow; */
    }
}


@media(max-width:575.98px) {
    .product_container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .product_part{
        width: 60%;
        padding: 40px 0 ;
        /* border: 2px solid red; */
       
    }
    .order_part{
        width: 35%;
        background: #f1d1d1;
        padding: 20px 0;
        margin-left: 10px;
        
        /* border: 2px solid yellow; */
    }
}


